{% extends "adminBase.html" %}

{% block head %}
<title>AGRISAGE / Add Product</title>
{% endblock%}


{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Add Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/adminDashboard">Home</a></li>
        <li class="breadcrumb-item active">Add Product</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <form novalidate action="{{ url_for("addProduct")}}" method="POST">
      <div class="row mb-3">
        <label for="fertilizerName" class="col-sm-2 col-form-label">Fertilizer Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="fertilizerName", name="fertilizerName" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="useFor" class="col-sm-2 col-form-label">Use For</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="useFor", name="useFor" required>
        </div>
      </div>
      <div class="row mb-3">
          <label for="fertilizerType" class="col-sm-2 col-form-label">Fertilizer Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fertilizerType", name="fertilizerType" required>
          </div>
        </div>
      <div class="row mb-3">
        <label for="manufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
        </div>
      </div>

      <div class="text-center mb-3">
        <button type="submit" class="btn btn-success">Add</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>

      <div class="col-12">
        {% if errorMassage != " " %}
          {% if errorMassage == "Product successfully added."%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i>
              {{ errorMassage }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"></i>
                {{ errorMassage }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endif %}
      </div>

    </form>
  </section>
</main>
{% endblock %}