<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {%block head%}
  {% endblock %}

  <!-- Favicons -->

  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files Url for-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/adminDashboard" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        <span class="d-none d-lg-block">AGRISAGE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ session.username }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->

      </ul>
    </nav>
    <!-- End Icons Navigation -->

  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{url_for('adminDashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Admin Dashboard</span>
        </a>
      </li>
      <!-- End Admin Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('addUser')}}">
          <i class="bi bi-person"></i>
          <span>Add User</span>
        </a>
      </li>
      <!-- End Add Admin Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('addProduct')}}">
          <i class="bi bi-person"></i>
          <span>Add Product</span>
        </a>
      </li>
      <!-- End Add Product Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  {% block main %}
  
  {% endblock %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>AGRISAGE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">TEAM AGRISAGE</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!--<script type="text/javascript" src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>-->
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>