<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {%block head%}
  {% endblock %}

  <!-- Favicons -->

  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

  <!-- Vendor CSS Files Url for-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/css/chatbot.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        <span class="d-none d-lg-block">AGRISAGE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ session.username}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ session.username }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/needHelp">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->

      </ul>
    </nav>
    <!-- End Icons Navigation -->

  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{url_for('dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('weatherForecast')}}">
          <i class="bi bi-cloud-rain"></i>
          <span>Weather Forecast</span>
        </a>
      </li>
      <!-- End Weather Forecast Nav -->

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('diseasePrediction')}}">
          <i class="bi bi-flower1"></i>
          <span>Disease Prediction</span>
        </a>
      </li>
      <!-- End Disease Prediction Nav -->

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('fertilizers')}}">
          <i class="bi bi-flower1"></i>
          <span>Fertilisers</span>
        </a>
      </li>
      <!-- End Fertiliser Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  {% block main %}
  {% endblock %}
  <!-- AI Chatbot -->
  <div>
    <button class="chatbot-toggler">
      <span class="material-symbols-rounded"><i class="bi bi-chat"></i></span>
      <span class="material-symbols-outlined"><i class="bi bi-x"></i></span>
    </button>
    <div class="chatbot">
      <header>
        <h2>AgriSage Smart Paddy Assistant</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Welcome to AgriSage Chatbot 😊😊<br />How can I help you today?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea
          placeholder="Enter a message..."
          spellcheck="false"
          required
        ></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>
  </div>
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>AGRISAGE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">TEAM AGRISAGE</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
   <!-- Template Chatbot JS File -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/chatbot.js') }}" defer></script>
</body>

</html>