<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AGRISAGE / Register </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files Url for-->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

</head>

<body>

    <main>
        <div class="container">
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                    <a href="#" class="logo d-flex align-items-center w-auto">
                      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></img>
                      <span class="d-none d-lg-block">AGRISAGE</span>
                    </a>
                  </div><!-- End Logo -->
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Setup an Account</h5>
                        <p class="text-center small">Enter your IoT device details for finish your registration</p>
                      </div>
    
                      <form class="row g-3 needs-validation" novalidate action="{{url_for('setup')}}" method="POST">
                        <div class="col-12">
                          <label for="yourLocation" class="form-label">Field Location</label>
                          <input type="text" name="location" class="form-control" id="yourLocation" required>
                          <div class="invalid-feedback">Please, enter your field location!</div>
                        </div>
    
                        <div class="col-12">
                          <label for="yourCountry" class="form-label">Your Country</label>
                          <input type="text" name="country" class="form-control" id="yourCountry" required>
                          <div class="invalid-feedback">Please enter a your country!</div>
                        </div>

                        <div class="col-12">
                          <label for="IoTCode" class="form-label">IoT device code</label>
                          <input type="text" name="code" class="form-control" id="IoTCode" required>
                          <div class="invalid-feedback">Please enter a valid IoT device code!</div>
                        </div>
  
                        <div class="col-12">
                          <button class="btn btn-success w-100" type="submit">Finish Setup</button>
                        </div>
                        <div class="col-12">
                          {% if errorMassage != " " %}
                            <div class="alert alert-danger alert-warning fade show" role="alert">
                              <i class="bi bi-exclamation-octagon me-1"></i>
                                {{ errorMassage }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          {% endif %}
                        </div>
                      </form>
    
                    </div>
                  </div>
    
                  <div class="credits">
                    Designed by <a href="#">TEAM AGRISAGE</a>
                  </div>
    
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
    </main><!-- End #main -->
    

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->


  <script type="text/javascript" src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>


 

  <!-- Template Main JS File -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>